# Build artifacts
_build/
.ipynb_checkpoints/
.pytest_cache/
ligotools.egg-info/

# Notebook outputs
figures/*
!figures/.gitkeep
audio/*
!audio/.gitkeep
data/GW150914_data.csv

# Homework description
hw03_description.md